<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false" scan="true" scanPeriod="20 seconds">

    <contextName>XF-APP</contextName>
    <property name="logDir" value="logs/admin/"></property>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--<filter class="com.xiaofan.test.TestFilter" />-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
    <!--<file>${logDir}/log-${bySecond}.log</file>-->
    <!--<append>true</append>-->
    <!--<encoder>-->
    <!--<pattern>-->
    <!--%contextName %date %level [%thread] %logger{10}[%file:%line] %msg%n-->
    <!--</pattern>-->
    <!--</encoder>-->
    <!--</appender>-->

    <appender name="ROL_INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <!--如果匹配，则通过-->
            <onMatch>DENY</onMatch>
            <!--如果不匹配，则允许记录-->
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <file>${logDir}/info/info_Log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按秒滚动纪录 -->
            <!--<fileNamePattern>${logDir}/rolLog.%d{yyyy-MM-dd_HH-mm-ss}.log</fileNamePattern>-->
            <fileNamePattern>${logDir}/info/info_Log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留近30份滚动数据 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <!--<pattern>%date %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROL_ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${logDir}/error/error_Log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按秒滚动纪录 -->
            <!--<fileNamePattern>${logDir}/rolLog.%d{yyyy-MM-dd_HH-mm-ss}.log</fileNamePattern>-->
            <fileNamePattern>${logDir}/error/error_Log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留近30份滚动数据 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <!--<pattern>%date %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
            <pattern>%date [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="com.xiaofan.test" level="debug" additivity="false">-->
    <!--<appender-ref ref="FILE" />-->
    <!--<appender-ref ref="ROL_FILE" />-->
    <!--</logger>-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROL_INFO_FILE"/>
        <appender-ref ref="ROL_ERROR_FILE"/>
    </root>
</configuration>
